/*INDEX*/
.ccc{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right , rgb(43, 42, 42) ,rgb(223, 11, 177));
   
}
.carousel-item {
    border: 4px solid black;
    
}
.text-center{
    color: rgb(186, 25, 226);
    text-align: center;
}
.normal{
    animation: fadeOutDown; 
    animation-duration: 1s; 

}
@media (min-width: 576px) {
    body{
        background-color: black;
    }
    

 }


@media (min-width: 768px) { body{
    background-color: blueviolet;
} }


@media (min-width: 992px) {
    body{
        background-color:linear-gradient(to right , rgb(43, 42, 42) ,rgb(223, 11, 177)); ;
    }
 }



    




/*PROFESORES*/
body{
    background: linear-gradient(to right , rgb(43, 42, 42) ,rgb(223, 11, 177));
}
.text-primary{
    animation: heartBeat ; 
  animation-duration: 1s; 
}
.mano{
    border: 4px solid black;
    background-size: cover;
  
}
.mb-0{
    color: blueviolet;}

.movimiento:hover{
    transform: scale(1.1);
    border: 1px solid #14afca;
    box-shadow: 0px 0px 50px #fa0404;
    cursor: pointer;
}
@media (min-width: 576px) {
    body{
        background-color: black;
    }
    

 }


@media (min-width: 768px) { body{
    background-color: blueviolet;
} }


@media (min-width: 992px) {
    body{
        background-color:linear-gradient(to right , rgb(43, 42, 42) ,rgb(223, 11, 177)); ;
    }
 }













/*CONTACTOS*/
.form-registro{
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;
     text-align: center;
     font-size: 3em;
    color: darkmagenta;
    box-shadow: 0 0 20 0 rgba(255, 255,255 , .3);
   
}
body{
    background-color: rgb(43, 0, 16);
}


.controls {
        width: 100%;
         background: black;
         padding: 10px;
         border-radius: 4px;
         margin-bottom: 16px;
         border: 1px solid #14afca;
         font-family: calibri;
         font-size: 18px;
         background: #222222;
         outline: 0;
         color: #fff;
        }
       
.boton {
    height: 40px;
    text-align: center;
    font-size: 20px;
    background: black;
    color: rgb(179, 9, 156);



}

.contacinfo{
    text-align:center;
    font-size: 30px;
    background: rgb(190, 58, 58);
    font-size: 30px;}


.contacinfo h4
.contacinfo ul
.contacinfo {
    text-align: center;
    margin: 0 0 1rem 0 ;

}
.contacinfo ul {
    list-style: none;
    padding: 0;
}
@media(min-width: 700px)
     
        
     
   


    



/*CURSOS*/
.heading{
    text-align: center;
    background: green;
    text-transform: uppercase;
    padding: 1rem;
    


}
.detalles.CAJA-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}
.TEXTO{
  font-family: cursive;
  color: white;
}

.TITULO{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.CURSO {
  background-color: black;
}

nuestro local

.piede-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: (3fr ,1fr);
    padding: 45px 0px;
}
.piede-pagina .grupo-1 .caja1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;

}
/*instrumentos/*

