@import 'vars'



  :root{
    --color-fondo:black 
    --color-rojo:red 
}







body{
    background-color: var(--color-fondo)
    font-family 'Noto Sans JP', sans-serif;
   
    }
      
    .conteiner{
          margin: auto;
          max-width: 1300px;
          overflow: auto;
          padding: 0 20px;
          color: rgb(174, 124, 221);
          cursor: pointer;
          font-size: 30px;
          animation: pulse;
         animation-duration: 4s;
         
        }
        .container-dos{
            margin: auto;
            max-width: 1300px;
            overflow: auto;
            padding: 0 20px;
           
           
            .display_1  {
                font-size: 100px;
                padding: 0 20px ;
                
            }
            .display_2  {
                font-size: 3rem ;
                font-weight: 300px ;
                font-family: 'Noto Sans JP', sans-serif;
                color:var(--color-red)
              
            }
        }
        .btn-small{
            background: var (--color-fondo)
            text-decoration none;
            
            
            &.btn-light{
                background:var(--color-red)
                color  var(--color-fondo)
                border-radius 4px;
            
            
            &.btn-light:hover{
                background: #c90ccf;
                color:var(--color-fondo)
                border-radius 4px;
            }
        
        .navbar{
            overflow: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            .logo {
                float: left;
                padding-top: 16px;
                font-size: 25px;
              
            }
            & ul {
                list-style: none;
                 font-weight: 500;
                 float: right;
            }
            & ul li{
                float: left;
                display: block;
                padding: 50px;
                text-align: center;
            }
            }
            #texto-uno{
                background: url(../assets/imag/Notas-musicales.jpg);
                background-repeat:no-repeat ;
                background-size: cover;
                height: 67vh;
                text-align: center;
                padding: 150px 20px;
            }
            #texto-dos .container-tres{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                grid-auto-rows: minmax(100px,auto);
                padding: 20px 0 ;
                 & .caja-1{
                    background: url(../assets/imag/local\ 9.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 200px;
                    border-radius: 34px;
                
                    
                }
                & .caja-2{
                    background: url(../assets/imag/local\ 10\ .jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 200px;
                    border-radius: 34px;
                    
                }
                & .caja-3{
                    background: url(../assets/imag/dinamicas.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 200px;
                      border-radius: 34px;
                    }
             }
             #texto-abajo{
                padding: 20px 0 ;
                & p {
                   padding: 10px 20px 20px 0 ;
                   float: left;
                   font-size: 20px;
                }
                & img{
                    width: 190vh;
                    height: 500px;
                    padding: 10px 60px 0;
                    border-radius: 100px;
                }
                &  .display_1{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-size: 80px;
                    
                    
                }
            
             }
             @media (min-width: 576px) {
                body{
                    background-color: var(--color-fondo);
                }
                
            
             }
            
            
            @media (min-width: 768px) { body{
                background-color:var(--color-fondo);
            } }
            
            
            @media (min-width: 992px) {
                body{
                    background-color:var(--color-fondo) ;
                }
            }
   